<html>
<head>
    <link rel="stylesheet" href="views/app.css">
</head>
<style>
    body {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    margin-top: 2rem;
}

.input-field input {
    padding: 0.8rem;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

form input[type="submit"] {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.4rem;
}

.signup{
    background: rgb(247, 100, 100);
    color: rgb(15, 14, 14);
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.4rem;
    text-decoration: none;
    text-align: center;
}
</style>
<body>
    <form action="/" method="post">
        <h2>Login</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username" class="name" autocomplete="off">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <input type="submit" value="LogIn">
        <p><%=error %></p>
        <a href="/signup" class="signup" >signup</a>
    </form>
</body>
<script>

</script>
</html>