* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.chat-area {
  height: 100vh;
  position: relative;
}
.top-bar {
  color: #111b21;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: row;
  height: 12%;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 10;
}
.profile {
  flex: 0.5;
}
.title {
  flex: 3;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.search {
  flex: 0.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:#54656F;
}

.bottom-bar {
  background-color: #f0f2f5;
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile-image {
  border-radius: 50%;
}

.chat-area{
  background-image: url("./whatsapp-background.webp");
}

.bottom-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#54656F;
  position:fixed;
  bottom: 0;
  z-index: 10;
}

.emoji-div{
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.message-input{
  flex:3;
  height:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message-input input{
  width:80%;
  height:50%;
  outline: none;
  border: none;
  padding:20px;
  border-radius: 0.5em;
}

.mic-div{
  flex:0.3;
}

.message{
  min-height: 30px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 0.5em;
  padding-left: 0.5em;
  box-shadow: 0px 0px 6px #B2B2B2;
  height: fit-content;
  max-width: 400px;
  word-wrap: break-word;
  width:300px;
}

.messager{
  font-family: 'Segoe UI',"Helvetica Neue", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 22px;
  font-size: 13px;
  color:#53bdeb;
  font-weight: 500;
}

.text-message{
  font-family: 'Segoe UI',"Helvetica Neue", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 19px;
  font-size: 14px;
  font-weight: 400;
  color:#111b21;
}

.message-box{
   display:flex;
   flex-direction: column;
   gap: 20px;
   padding:3em;
   min-width: 100%;
   min-height: 100%;
   top:10%;
   padding-bottom:100px ;
}

.notification-message{
  min-height: 30px;
  min-width: 100px;
  background-color: #FFFFFF;
  border-radius: 0.5em;
  padding-left: 0.5em;
  box-shadow: 0px 0px 6px #B2B2B2;
  height: fit-content;
  word-wrap: break-word;
  margin: 2px auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color:#54656F;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0.25em;
}


.my-message{
  min-height: 30px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  background-color: #D9FDD3;
  border-radius: 0.5em;
  padding-left: 0.5em;
  box-shadow: 0px 0px 6px #B2B2B2;
  height: fit-content;
  max-width: 400px;
  word-wrap: break-word;
  position:relative;
  width:300px;
  left:60vw;
}

.private-messaging{
  outline: none;
  border: none;
  padding:0.5em;
  background-color: green;
  border-radius: 0.35rem;
  color: white;
}
